<h2 mat-dialog-title>Registrar saída de estoque</h2>
<mat-dialog-content class="mat-typography">
  <p><strong>Local de armazenagem:</strong> {{ estoque.armazem_nome }}</p>
  <p><strong>Produto:</strong> {{ estoque.produto_nome }} {{ estoque.produto_marca }} ({{ estoque.produto_unidade_medida}})</p>
  <br>
  <form [formGroup]="movimentoForm">
    <mat-form-field>
      <input type="number" placeholder="Quantidade" matInput formControlName="quantidade" name="quantidade" />
    </mat-form-field>
    <p>
      <span
        *ngIf="
          movimentoFormControl.quantidade.touched &&
          movimentoFormControl.quantidade.errors?.required
        "
        class="text-danger"
      >
        Quantidade obrigatória
      </span>
    </p>
    <mat-error>
      {{ errorMessage }}
    </mat-error>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="saidaEstoque()">
    Registrar
  </button>

  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>