<aside>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened fixedInViewport>
      <span>
        <a routerLink="">
          <img src="assets/univesp_inst_logo.png" alt="" />
        </a>
      </span>
      <span>
        <a routerLink="">
          <img src="assets/Logo_Alimentação.png" alt="" />
        </a>
      </span>
      <mat-nav-list class="list" *ngIf="isLoggedIn">
        <mat-list-item>
          <a routerLink="">
            <mat-icon> home </mat-icon>
            Início
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="produtos">
            <mat-icon> inventory_2</mat-icon>
            Produtos
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="marca">
            <mat-icon> inventory_2</mat-icon>
            Marca
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="armazem">
            <mat-icon> inventory_2</mat-icon>
            Armazem
          </a>
        </mat-list-item>

        <mat-list-item>
          <a routerLink="estoque">
            <mat-icon> inventory_2</mat-icon>
            Estoque
          </a>
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list *ngIf="isLoggedIn" class="list">
        <mat-list-item>
          <a (click)="logout()">
            <mat-icon> logout</mat-icon>
            Sair
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</aside>
