<mat-card class="mat-elevation-z4">
  <mat-card-title> Seja bem-vindo! </mat-card-title>
  <br />
  <mat-card-subtitle>
    <p>
      Esse é um sistema para efetuar o controle de estoque de uma empresa de alimentação.
      <br />
      <br />
      <br />
      <br />
    </p>

    <p>
      Navegue pelo menu lateral esquerdo para cadastrar, alterar, excluir ou consultar produtos, marcas, armazéns ou estoques da empresa.
      <br />
    </p>

    <br />
    <br />
    <br />
    <br />

  </mat-card-subtitle>
</mat-card>
