<mat-card class="mat-elevation-z4">
  <mat-card-title> Seja bem-vindo! </mat-card-title>
  <br />
  <mat-card-subtitle>
    <p>
      Programa para controlar o estoque de empresa de alimentação.
      <br />
      <br />
    </p>
    <br />
    <br />
    <br />
    <br />
    Orientador:
    <br />
    <br />
    Prof. Mauro Renault Menezes
    <br />
    <br />
    <br />
    Autores:
    <br />
    <br />
    Alberto Rommell Ocroche (matrícula 2007818)
    <br />
    <br />
    Alessandra Gonçalves Ribeiro (matrícula 2104001)
    <br />
    <br />
    Alexandre Luiz de Souza (matrícula 2100856)
    <br />
    <br />
    Caroline de Jesus Moraes (matrícula 2014662)
    <br />
    <br />
    Daiane Gonçalves Ribeiro (matrícula 2105234)
    <br />
    <br />
    Edmilson Martins dos Santos (matrícula 2104254)
    <br />
    <br />
    Fernando Floriano da Silva (matrícula 2100153)
    <br />
    <br />
    Fernando Venâncio de Carvalho (matrícula 2102357)
    <br />
    <br />

  </mat-card-subtitle>
</mat-card>
