table {
    width: 100%;
    margin-top: 30px;
  }
  .add {
    color: #048af8;
  }

  .subtract {
    color: #f80404;
  }

  .edit {
    color: #7e7e7e;
  }

  .delete {
    color: rgb(191, 16, 3);
  }
  
  .mat-header-cell {
    text-align: center;
    font-weight: bold;
  }

  td {
    text-align: center;
  }

  mat-form-field {
    margin: 10px 20px 0px 0px;
  }
  