table {
    width: 100%;
    margin-top: 30px;
  }
  .add {
    color: #048af8;
  }

  .subtract {
    color: #f80404;
  }

  .edit {
    color: #f89204;
  }
  
  .delete {
    color: #ed5519;
  }
  
  .mat-header-cell {
    text-align: center;
    font-weight: bold;
  }

  td {
    text-align: center;
  }
  